POSTGRES_DB=deadmans
POSTGRES_USER=deadmans
POSTGRES_PASSWORD=deadmans_dev_password
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
