ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Server=localhost;Database=DeadMans;Trusted_Connection=True;TrustServerCertificate=True;
Cors__AllowedOrigins__0=http://localhost:5173
Cors__AllowedOrigins__1=https://localhost:5173
TwitchAuth__ClientId=your_twitch_client_id
TwitchAuth__ClientSecret=your_twitch_client_secret
TwitchAuth__RedirectUri=http://localhost:5285/auth/twitch/callback
TwitchAuth__Scopes__0=openid
TwitchAuth__Scopes__1=user:read:email
